.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  z-index: 10;
}

.header .logo {
  padding: 10px;
  width: 6vw;
  margin-top: 10px;
  margin-left: 15px;
  opacity: 1;
  transition-duration: 0.5s;
  transition-timing-function: 0.5s;
}

.header .ham-menu {
  width: 4vw;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: -40px;
}

.header .ham-menu .text-menu {
  font-size: 0.7rem;
  margin-right: 10px;
  color: #fff;
  margin-left: -50px;
}

.header .ham-menu .icon-menu {
  font-size: 1.7rem;
  color: rgb(226, 67, 7);
}

.menu-sheet {
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  color: white;
  /* font-family: "Staatliches", cursive; */
  font-family: "Roboto", sans-serif;
  transition-duration: 0.5s;
  transition-timing-function: 0.5s;
}
.menu-sheet .row {
  height: 50vh;
}

.menu-sheet .row .menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-sheet .row .menu-items.work {
  background-image: url("/assets/images/menu-img/work.jpg");
}
.menu-sheet .row .menu-items.people {
  background-image: url("/assets/images/menu-img/people.jpg");
}
.menu-sheet .row .menu-items.news {
  background-image: url("/assets/images/menu-img/news.jpg");
}
.menu-sheet .row .menu-items.clients {
  background-image: url("/assets/images/menu-img/clients.jpg");
}
.menu-sheet .row .menu-items.locations {
  background-image: url("/assets/images/menu-img/locations.jpg");
}
.menu-sheet .row .menu-items.contacts {
  background-image: url("/assets/images/menu-img/contacts.jpg");
}
.menu-sheet .row .menu-items.jobs {
  background-image: url("/assets/images/menu-img/jobs.jpg");
}

.menu-sheet .row .menu-items .banner {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  transition-duration: 0.5s;
  transition-timing-function: 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-sheet .row .menu-items .banner h1 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.menu-sheet .row .menu-items .banner:hover {
  background: rgba(0, 0, 0, 0);
}
